

<input type="" #base>
<input type="" #symbol>
<input type="" #selection>

<div [ngSwitch]="selection.value" style="margin: 20px;">
<div *ngSwitchDefault class="row">
<form [formGroup]="baseForm" (ngSubmit)="onSubmit()">
  <div class="col-md-6">
  <select formControlName="base" class="form-control" >
    <option>Choose base currency</option>
    <option *ngFor="let base of bases" [selected]= "base == selectedBase" >{{base}}</option>
  </select>
  </div>
  <div class="col-md-6">
  <button class="btn btn-default">Show latest rates</button>
  </div>
</form>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Currency</th>
    <th scope="col">Spot</th>
    <th scope="col">Increase/Decrease</th>
    <th scope="col">Chart</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of rates  | keyvalue; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ item.key }}
    </td>
    <td>{{ item.value | number }}</td>
    <td>
      <!-- child component for increase/decrease icons-->
      <app-increase-decrease
        [base]="this.baseForm.value.base"
        [symbol]="item.key">
      </app-increase-decrease>

    </td>
    <td>
      <input value={{item.key}}>
        <button class="btn btn-default" (click)="selection.value = 'showChart'; symbol.value = item.key; base.value = baseForm.value.base; selectedBase =  baseForm.value.base; selectedSymbol = item.key ">
          <mat-icon>bar_chart</mat-icon>
        </button>

    </td>
  </tr>
  </tbody>
</table>
</div>

<div *ngSwitchCase="'showChart'">
    <button class="btn btn-block" (click)="selection.value = 'hideChart'" >
      back
    </button>
    <app-last-thirty-days [selectedBase]= "symbol.value"
                          [selectedSymbol]= 'selectedSymbol' >
    </app-last-thirty-days>
</div>

</div>













